<!DOCTYPE html>
<html lang="en">
<head>
	<title>TAG.map</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet">
<!--===============================================================================================-->
</head>
<body style="background-color: white;">

	<div class="main" style="background-color: black; width: 35%">
		
		<form class="project_name validate-form">
			<span class="title" style="font-size: 75px; margin-bottom: 50%; color: white;">
				TAG.map
			</span>	
			<div class="wrap-input100 validate-input" data-validate="Tag is required">
				<input class="input100" type="text" name="name" placeholder="input tags...">
				<span class="focus-input100"></span>
			</div>

			<div class="container-contact100-form-btn">
				<div class="wrap-contact100-form-btn">
					<div class="contact100-form-bgbtn"></div>
					<button class="contact100-form-btn">
						Search
					</button>
				</div>
			</div>
		</form>
	</div>







</body>
</html>
